.router-page-layout {
  .logo--container {
    width: 100vw;
    display: flex;
    justify-content: center;

    .logo--img {
      width: 20vw;
      padding: 10vw;
    }
  }

  @media only screen and (width > 900px) {
    .logo--container {
      .logo--img {
        width: 150px;
        padding: 10vw 0 3vw;
      }
    }
  }
}
